{% extends 'blog/base.html' %}

{% block content %}
    <h2>New Form</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        
        {{ form.as_p }}
        {% if post.published_date %}
            <button type="submit" name="publish" class="btn btn-secondary">Publish</button>
        {% else %}     
            <button type="submit" name="draft" class="save btn btn-secondary">Save as Draft</button>
            <button type="submit" name="publish" class="btn btn-secondary">Save</button>
        {% endif %}    
{% endblock %}
    